@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Sacramento&display=swap');
@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #d1d5dc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-tilt: tilt 10s infinite linear;
  --animate-blast: blast 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  @keyframes tilt {

    0%,
    50%,
    100% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(0.5deg);
    }

    75% {
      transform: rotate(-0.5deg);
    }
  }

  @keyframes blast {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  --animate-star-movement-bottom: star-movement-bottom 6s linear infinite alternate;
  --animate-star-movement-top: star-movement-top 6s linear infinite alternate;

  @keyframes star-movement-bottom {
    0% {
      transform: translate(0%, 0%);
      opacity: 1;
    }

    100% {
      transform: translate(-100%, 0%);
      opacity: 0;
    }
  }

  @keyframes star-movement-top {
    0% {
      transform: translate(0%, 0%);
      opacity: 1;
    }

    100% {
      transform: translate(100%, 0%);
      opacity: 0;
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.font-dancing-script {
  font-family: 'Dancing Script', cursive;
}

.font-sacramento {
  font-family: 'Sacramento', cursive;
}

::-webkit-scrollbar {
  display: none;
}